* {
  box-sizing: border-box;
}
body{
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.logo-text {
  text-decoration: none;
  color: #fff;
  font-size: 1.7rem;
  text-transform: uppercase;
}

.logo-text p {
  margin-bottom: 0;
}

.logo-text:hover {
  color: lightgray;
  transition: 100ms;
}