* {
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 24px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.card .card-img-top {
  height: 200px;
}

.card-col .card {
  height: 576px;
}


.logo-text {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
}

.logo-text p {
  margin-bottom: 0;
}

.logo-text:hover {
  color: lightgray;
  transition: 100ms;
}

.detail-img {
  width: 100%;
  display: block;
  object-fit: cover;
}

@media (max-width:400px) {
  .logo-text{
    font-size: 15px;
  }
}